*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/*______________________________________________________________________________________*/
/*_____________________________________________________________________________________ */

/* Выполнение задания начинается отсюда */

/*______________________________________________________________________________________*/
/*______________________________________________________________________________________*/

/*______________________________________________________________________________________*/
/*_____________________________________________________________________________________ */

/* Шаг 1 лейаут */

/*______________________________________________________________________________________*/
/*______________________________________________________________________________________*/

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
  padding-bottom: 30px;
  /* padding-right: 80px; */
}

.search-form {
  width: 711px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-spacing: 40px;
}

.content__list-container {
  position: relative;
  height: 298px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 26px;
  padding-top: 30px;
}



/*______________________________________________________________________________________*/
/*_____________________________________________________________________________________ */

/* Шаг 2 уточнение размеров */

/*______________________________________________________________________________________*/
/*______________________________________________________________________________________*/

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 24px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
}

/*______________________________________________________________________________________*/
/*_____________________________________________________________________________________ */

/* Шаг 3 Стиши текстов */

/*______________________________________________________________________________________*/
/*______________________________________________________________________________________*/

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  /* font-style: Regular; */
  font-size: 18px;
  line-height: 100%;
  /* letter-spacing: 0%; */
  color: rgba(255, 255, 255, 1);
  padding-bottom: 6px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  /* font-style: Bold; */
  font-size: 75px;
  line-height: 94%;
  /* letter-spacing: 0%; */
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.content__accent {
  opacity: .3;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: bold;
  /* font-style: Bold; */
  /* font-style: bold; */
  font-size: 30px;
  line-height: 100%;
  /* letter-spacing: 0%; */
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 196px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  /* font-style: Regular; */
  font-size: 18px;
  line-height: 16.2px;
  /* letter-spacing: 0%; */
  color: rgba(255, 255, 255, 1);
  line-clamp: inherit;
  padding-top: 4px;
}

/*______________________________________________________________________________________*/
/*_____________________________________________________________________________________ */

/* Шаг 4 Формы и их состояния */

/*______________________________________________________________________________________*/
/*______________________________________________________________________________________*/

/*_____________________________________________________________________________________ */

/* Стилизуем обёртки для поискового инпута и чекбоксов */

/*______________________________________________________________________________________*/

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__fieldset {
  flex-direction: column;
  border: none;
  min-width: 225px;
  cursor: pointer;
}

.search-form__fieldset:nth-child(2) {
  padding-left: 6.5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 1.5px;
}

/*_____________________________________________________________________________________ */

/* Стилизуем текстовое поле ввода */

/*______________________________________________________________________________________*/

.search-form__textfield {
  font-family: inherit;
  font-size: inherit;
  width: 225px;
  border-left: none;
  border-right: none;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  color: #fff;
  background-color: transparent;
  appearance: none;
  margin-bottom: 4px;
  cursor: pointer;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

/* .search-form__textfield:focus-visible {
  outline: solid 1px white;
  outline-offset: 1px;
} */

/*_____________________________________________________________________________________ */

/* Стилизуем чекбокс */

/*______________________________________________________________________________________*/

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: solid 1px white;
  padding: 1px;
  cursor: pointer;
  margin-right: 4px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text{
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: solid 1px white;
  outline-offset: 1px;
}

/*______________________________________________________________________________________*/
/*_____________________________________________________________________________________ */

/* Шаг 5 Стилизуем кнопки и их состояния */

/*______________________________________________________________________________________*/
/*______________________________________________________________________________________*/

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  /* font-style: Bold; */
  font-size: 18px;
  line-height: 100%;
  /* letter-spacing: 0%; */
  text-align: center;
  color: white;
  border: solid 1px white;
  background-color: rgb(26, 24, 24, 0);
  cursor: pointer;
  min-height: 34px;
}

.search-form__submit-button {
  min-width: 194px;
  /* min-height: 34px; */
  align-self: flex-end;
  justify-self: flex-end;
  margin-bottom: 3px;
}

.more-button {
  width: 390px;
  margin-bottom: 2px;
  margin-left: 2px;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

.search-form__submit-button:active {
  background-color: rgba(84, 80, 80, 1);
  /* border: solid 1px rgba(255, 255, 255, 1); */
}

.search-form__submit-button:focus {
  outline: none;
}

.search-form__submit-button:focus-visible {
  outline: solid 1px white;
  outline-offset: 1px;
}

/*______________________________________________________________________________________*/
/*_____________________________________________________________________________________ */

/* Шаг 6. Состояния карточек */

/*______________________________________________________________________________________*/
/*______________________________________________________________________________________*/

.content__card-link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.content__card-link_current,
.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: solid 1px white;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}